<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apartamentos</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/apartamentos.js') }}"></script>
</head>

<body>
    <section class="conteiner">
        <h2>Apartamentos</h2>
        <ul id="apartamentos-list"></ul>
        <a href="/">Home</a>
    </section>
</body>

</html>