<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eleição Condominial</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=apartment,emoji_people,how_to_vote,location_away" />
</head>

<body>
    <section class="columns" style="width: 100%; display: flex; justify-content: center;">
        <a class="content-box" href="/moradores">
            <i class="material-symbols-rounded">location_away</i>
            <h1>Moradores</h1>
        </a>
        <div class="content-box">
            <i class="material-symbols-rounded">emoji_people</i>
            <h1>Candidatos</h1>
        </div>
        <div class="content-box">
            <i class="material-symbols-rounded">apartment</i>
            <h1>Apartamentos</h1>
        </div>
        <div class="content-box">
            <i class="material-symbols-rounded">how_to_vote</i>
            <h1>Urna</h1>
        </div>
    </section>
</body>

</html>