<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eleição Condominial</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=apartment,bar_chart,emoji_people,fact_check,how_to_vote,location_away,settings_account_box" />
</head>

<body>
    <section class="columns" style="width: 100%; display: flex; justify-content: center;">
        <a class="content-box" href="/moradores">
            <i class="material-symbols-rounded">location_away</i>
            <h1>Moradores</h1>
        </a>
        <a class="content-box" href="/candidatos">
            <i class="material-symbols-rounded">emoji_people</i>
            <h1>Candidatos</h1>
        </a>
        <a class="content-box" href="/apartamentos">
            <i class="material-symbols-rounded">apartment</i>
            <h1>Apartamentos</h1>
        </a>
        <div class="content-box">
            <a href="/urna">
                <i class="material-symbols-rounded">how_to_vote</i>
                <h1>Urna</h1>
            </a>
            <div class="options-box">
                <a href="/urna/registrar"><i class="material-symbols-rounded">fact_check</i>Cadastrar</a>
                <a href="/urna/votar"><i class="material-symbols-rounded">how_to_vote</i>Votar</a>
                <a href="/resultados"><i class="material-symbols-rounded">bar_chart</i>Resultados</a>
                <a href="/urna/controle"><i class="material-symbols-rounded">settings_account_box</i>Controle</a>
            </div>
        </div>
    </section>
</body>

</html>